@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h1 class="d-flex flex-row justify-content-center m-5 text-light">Manage your account</h1>

<div>
    <h2 class="d-flex flex-row justify-content-center text-light mb-2">Change your account settings</h2>
    <hr />
    <div class="row mt-4">
        <div class="col-4">
            <div class="col-10 border-1">
                <partial name="_ManageNav" />
            </div>
        </div>
        <div class="col-8">
            <div class="col-6">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
