@model OpenDiscussion.Models.Category

@{
    ViewBag.Title = "Edit";
}

<h1 class="d-flex flex-row justify-content-center m-5 text-light">Editare categorie</h1>

<div class="card">
    <form method="post" action="/Categories/Edit/@Model.Id">
        <div class="card">
            @Html.Label("CategoryName", "Denumire categorie", new { @style ="background-color: var(--bs-dark) !important;", 
                                                                    @class = "py-3 px-3 rounded-2 d-flex align-items-center justify-content-center text-light m-2"})
            
            <br />

            @Html.ValidationSummary(false, "", new { @class = "text-danger d-flex align-items-center justify-content-center" })

            <div class="card-body d-flex justify-content-center align-items-center">
                @Html.Editor("CategoryName", new {@class = "flex-fill"})
            </div>

            @Html.ValidationMessageFor(m => m.CategoryName, null, new { @class = "text-danger d-flex align-items-center justify-content-center" })

            <br />

            <button class="btn btn-success m-2" type="submit">Modifica categoria</button>
        </div>
    </form>
</div>