@{
    ViewBag.Title = "Categorii";
}

<h2>@ViewBag.Title</h2>

<br /> 

@if (ViewBag.Msg != null)
{
    <h2 class="alert-success mb-5 text-center p-3">@ViewBag.Msg</h2>
}

<br />
<br />
<br />

@foreach (var category in ViewBag.Categories)
{
        <a class="btn" href="/Categories/Show/@category.Id">@category.CategoryName</a>

        @if (User.IsInRole("Admin"))
        {

        <br />

        <a class="btn alert-success" href="/Categories/Edit/@category.Id">Editare categorie</a>
        
        <br/>

        <form method="post" action="/Categories/Delete/@category.Id">
            <button class="btn btn-danger" type="submit">Sterge categoria</button>
        </form>

        }

        <br />
        <hr />
        <br />
}

<br />

@if(User.IsInRole("Admin"))
{

<a class="btn btn-success" href="/Categories/New">Adauga o noua categorie</a>

<br />

}