@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1 class="d-flex flex-row justify-content-center align-items-center m-5 text-light">@ViewData["Title"]</h1>
<p class="text-light">
    Please check your email to reset your password.
</p>
