html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #42464D;
}

.field-validation-valid {
    display: none;
}

.validation-summary-valid {
    display: none;
}

.pagination a:hover {
    background-color: var(--bs-gray-600) !important;
    transition: background-color .2s;
}

.btn-outline-custom {
    background-color: transparent;
    border-color: transparent;
}

.btn-outline-custom:hover,
.btn-outline-custom:focus,
.btn-outline-custom.active {
    background-color: #A3B8CC;
    border-color: #A3B8CC;
}

.nav-pills .nav-link.active, 
.nav-pills .show > .nav-link {
    background-color: #A3B8CC;
    border-color: #A3B8CC;
}