html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #42464D;
}

.field-validation-valid {
    display: none;
}

.validation-summary-valid {
    display: none;
}

.pagination a:hover {
    background-color: var(--bs-gray-600) !important;
    transition: background-color .2s;
}

.dropdown-menu-center {
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 60%) !important;
}