@model OpenDiscussion.Models.ApplicationUser
@{
    ViewBag.Title = "Edit";
}

<h1 class="d-flex flex-row justify-content-center m-5 text-light">Editare user</h1>

<div class="card">
    
    <form method="post" action="/Users/Edit/@Model.Id">
        <div class="card">
            @Html.Label("UserRole", "Rol utilizator", new { @style ="background-color: var(--bs-dark) !important;", 
                                                            @class = "py-3 px-3 rounded-2 d-flex align-items-center justify-content-center text-light m-2"})
            
            <br />

            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="form-group radio-inline">
                    @foreach (var role in ViewBag.roles)
                    {
                        if (ViewBag.userRole.RoleId != role.Id)
                        {
                            <div class="form-check">
                                <input name="UserName" id=@role.Id type="radio" value=@role.Id class="form-check-input"/>
                                <label for=@role.Id class="form-check-label">@role.Name</label>
                            </div>
                        }
                        else
                        {
                            <div class="form-check">
                                <input name="UserName" id=@role.Id type="radio" value=@role.Id class="form-check-input" checked />
                                <label for=@role.Id class="form-check-label">@role.Name</label>
                            </div>
                        }
                    }
                </div>
            </div>

            <br />

            <button class="btn btn-success m-2" type="submit">Modifica rolul</button>
        </div>
    </form>
    
    <pre id="log"></pre>
</div>
